
#body_screen{
    display: none;
    position: fixed;
    z-index: 109;
    background-color: rgba(196, 196, 196, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
}
#contact_modal {
    display: none;
}

body{
    position: relative;
    box-sizing: border-box;
   
}
#photographer_header img .logo{
  margin-left: 300px;
}

#photographer_main{
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.photographer_infos {
   
    display: flex;
    background-color: #FAFAFA;
    height: 300px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
    max-width: 1240px;
    width: 100%;
   
}

.info_box{
    width: 33%;
}

.name--size {
    font-size: 64px;
    font-weight: 400;
    color: #D3573C;
    margin: 0px;
    width: 100%;
}

.photographer--infos{
    text-align: end;
}
.photographer--city{
    font-weight: 400;
    color: #901C1C;
    font-size: 24px;
}

.tagline{
    color: #525252;
    font-size: 18px;
    font-weight: 400;
}


.photographer_infos .photographer_img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit: cover;
}

.contact_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_button {
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 200px;
}

.contact_button:hover{
    color: #312E2E;
    background-color: #DB8876;
}

.photo_media{
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.media_all{
    display: flex;
    flex-direction: column-reverse;
}
.media_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 95px;
    justify-content: space-evenly;
    max-width: 1240px;
    width: 100%;
    position: relative;
}

.photo_parameters{
    display:grid;
    grid-template-columns: 13fr 1fr ;
  
}
.photo_description{
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    margin-top: 5px;
}

#media-like{
    display: flex;
}

.like_container{
    display: flex;
    flex-direction: row;
}

.number_of_like{
    margin-top: 5px;
    font-size: 24px;
    color: #901C1C;
}

.icon_like{
    width: 17.5px;
    height: 18.35px;
    margin-left: 3px;
    margin-top: 10px;
    color: #901C1C;
    cursor: pointer;
}

.static_infos{
    position:fixed;
    z-index: 99;
    right: 100px;
    bottom: 0px;
    background: #DB8876;
    border-radius: 5px;
    Width: 376px;
    Height: 89px;
}

.filter_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:100px;
}

.select_container{
    position: absolute;
    left: 300px;
    display: flex;
    flex-direction: column;
    width: 170px;
    min-height: 69px;
    background-color: #901C1C;
    border-radius: 5px;
}

.filter_head{
    position: absolute;
}
.select_list{
    display: flex;
    flex-direction: column;
  
}

.angle_open{
    position: absolute;
    z-index: 102;
    width: 16px;
    height: 10px;
    right: 10px;
    top: 25px;
    cursor: pointer;  
}

.angle_close{
    display: none;
    position: absolute;
    z-index: 103;
    width: 16px;
    height: 10px;
    right: 5px;
    top: 5px;
    cursor: pointer;  
}

.popularity{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.date{
    display: none;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 15px;

}
 nav a ::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(0%) scaleX(1);
    transform-origin: 0%;
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
 }


.title{
display: none;
text-decoration: none;
color: #FFFFFF;
font-size: 18px;
font-weight: 700;
margin-left: 20px;
margin-top: 20px;
margin-bottom: 15px;
}


.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 669px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 35px;
    position: fixed;
    z-index: 110;
    top: 0;
    box-shadow: 2px 2px 6px #c1c0c0;
    
}

#close_button{
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 101;
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.modal_header {
    justify-content: flex-start;
    width: 80%;
  
}

.modal header img {
    cursor: pointer;
}

.modal_header h1 {
   
    font-size: 64px;
    font-weight: normal;
    text-align: start;
    color: #312E2E;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 35px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
    margin-left: 35px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 599px;
    height: 68px;
    border: none;
    border-radius: 5px;
    margin-left: 35px;
}

.input_text{
    width: 599px;
    height: 170px;
    margin-left: 35px;
    border-radius: 5px;
}

.send_button{
    width: 170px;
    height: 69px;
    background-color: #901C1C;
    cursor: pointer;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    margin-top: 26px;
    margin-left: 35px;
    border: none;
}